

body {
	background: black;
	font-family: 'Press Start 2P', cursive;
}

.container {
	text-align: center;
	color: #00FE00;
	margin: 0 24rem;
	margin-top: 12rem;

	/*background: blue;*/
}


h1 {
	margin-top: 5rem;
	font-size: 4rem;
}


.gameStart{
	position: relative;
	text-align: left;
	margin-top: 10rem;
	/*background: red;*/
}


.start, .letter, .git{
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;
}


.start {
	margin-bottom: 3rem;
}

.arrow {
	position: absolute;
	top: 0;
	left: -50px;
	font-size: 2rem;
	color: #00FE00;
	animation: blink 0.5s infinite alternate;
}

.level {
	top: 80px;
}
.git {
	display: none;
}

.explain {
	margin-top: 10rem;
}

.explain-p {
	font-size: 1rem;
	color: #fff;
	line-height: 1.5;
}

.copyright {
	margin-top: 2rem;
}

@keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
};
